td {
  text-align: left;
  vertical-align: middle;  
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

.user-name {
  font-size: 16px;
  padding: 15px 0;  
}

.user-email {
  padding: 5px 0;
  font-size: 14px;
  opacity: .8;
}

.user-score {
  font-size: 18px;
  text-align: right;
}