.nav__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;  
  list-style: none;
  width: 33.33%;
  height: 100%;
  transition: all 0.2s;

  &_active,
  &:hover {
    background-color: #788aa3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
}

.nav__link {
  display: block;
  height: 100%;
  font-size: 12px;
  color: white;
  text-decoration: none;
}

.nav__icon {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
  &:first-child {
    width: 18px;
    height: 18px;
  }
}
