.score {
  width: 800px;
  min-height: 680px;
  background: linear-gradient(160deg, #92b6b1 0%, #788aa3 100%);
  margin: 0 auto;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.65);  
  z-index: 2;
}  

.score-header {  
  margin-bottom: 15px;
}

.table-wrapper {  
  overflow-x: auto;
  margin-top: 0px;  
}

.table {
  width:100%;
  table-layout: fixed;
}
