.modal {
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;  
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .5);
  z-index: 100;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.form {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 640px;
  padding: 30px;
  background-color: #788aa3;
  border-radius: 5px;
  box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.form-header {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.info-container {
  margin-bottom: 50px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-name,
.last-name,
.e-mail {
  display: flex;
  width: 330px;
  height: 50px;
  margin-bottom: 35px;
  padding: 5px 10px;
  color: white;
  background: #5e7390;
  border-radius: 3px;
  outline: none;
  border: none;
}

.e-mail {
  margin-bottom: 0;
}

input[type="file"] {
  display: none;
}

.field-container {
  position: relative;
  width: 100%;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.field-container label {
  color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  pointer-events: none;
  position: absolute;
  transition: all 200ms;
  top: 12px;
  left: 10px;
  background-color: #5e7390;
}

.field-container input:focus+label,
.field-container input:not(:placeholder-shown)+label {
  top: -10px;
  left: 10px;
  font-size: 11px;
  background-color: #92b6b1;
  padding: 2px 10px;
  border-radius: 2px;
}

small {
  color: #e74c3c;
  position: absolute;
  bottom: -15px;
  left: 0;
  visibility: hidden;
}

.success {
  input {
    border: 2px solid #2ecc71;
  }
}

.error {
  input {
    border: 2px solid #e74c3c;
  }

  small {
    visibility: visible;
  }
}

.custom-photo-upload {
  position: relative;
  display: block;
  width: 180px;
  height: 180px;
  cursor: pointer;
  border-radius: 50%;

  &::before {
    position: absolute;
    display: inline-block;
    content: '';
    width: 45px;
    height: 45px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: center / contain no-repeat url('../../assets/icons/plus.svg');
    opacity: 0;
    transition: all .2s;
  }
}

.custom-photo-upload:hover:before {
  opacity: 1;
}

.image-upload {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.btn-container {
  align-self: flex-end;
}

.btn-submit {
  margin-right: 10px;
}

.btn.btn-reset {
  background: #e8ddb5;
}
