.rule-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.rule {  
  margin-right: 80px;
  flex-basis: 300px;
}

.rule-content {
  display: flex;
  align-items: flex-start;
  font-size: 18px;

  &::before {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    margin-right: 20px;
    font-size: 30px;
    font-weight: 700;
    background: #e8ddb5;
    border-radius: 50%;
  }
}

.rule-content-1::before {
  content: '1';
}
.rule-content-2::before {
  content: '2';
}
.rule-content-3::before {
  content: '3';
}

.illustration {
  width: 300px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(46, 61, 73, 0.65);
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}