@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@400;500;700;900&display=swap");

html {
  box-sizing: border-box;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  color: white;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  color: white;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #788aa3;
  width: 100%;
  height: calc(100vh - 70px);
}

// .form-container {
//   position: fixed;
//   display: flex;
//   width: 100%;
//   height: 100%;
//   justify-content: center;
//   align-items: center;
//   background: rgba(0, 0, 0, .5);
//   z-index: 100;
// }

// .overlay {
//   position:absolute;
//   width:100%;
//   height:100%;
//   z-index:1;
// }

// .form {
//   position: absolute;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   top: 50%;
//   left: 50%;
//   margin-right: -50%;
//   transform: translate(-50%, -50%);
//   width: 640px;
//   padding: 30px;
//   background-color: #788aa3;
//   border-radius: 5px;
//   box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.25);
//   z-index: 2;
// }

// .form-header {
//   font-size: 20px;
//   font-weight: 400;
//   margin-bottom: 20px;
// }

// .info-container {
//   margin-bottom: 50px;
// }

// .info {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// .first-name,
// .last-name,
// .e-mail {
//   display: flex;
//   width: 330px;
//   height: 50px;
//   margin-bottom: 15px;
//   padding: 5px 10px;
//   color: white;
//   background: #5e7390;
//   border-radius: 3px;
//   outline: none;
//   border: none;
// }

// .e-mail {
//   margin-bottom: 0;
// }

// input[type="file"] {
//   display: none;
// }

// .placeholder-container {
//   position: relative;
//   width: 100%;
//   margin-bottom: 20px;

//   &:last-child {
//     margin-bottom: 0;
//   }
// }

// .placeholder-container label {
//   color: rgba(255, 255, 255, 0.8);
//   padding: 5px 10px;
//   pointer-events: none;
//   position: absolute;
//   transition: all 200ms;
//   top: 12px;
//   left: 10px;
//   background-color: #5e7390;
// }

// .placeholder-container input:focus+label,
// .placeholder-container input:not(:placeholder-shown)+label {
//   top: -10px;
//   left: 10px;
//   font-size: 11px;
//   background-color: #92b6b1;
//   padding: 2px 10px;
//   border-radius: 2px;
// }

// .custom-photo-upload {
//   position: relative;
//   display: block;
//   width: 180px;
//   height: 180px;

//   &::before {
//     position: absolute;
//     display: inline-block;
//     content: '';
//     width: 45px;
//     height: 45px;
//     top: 50%;
//     left: 50%;
//     margin-right: -50%;
//     transform: translate(-50%, -50%);
//     background: center / contain no-repeat url("./assets/icons/plus.svg");
//     opacity: 0;
//     transition: all .2s;
//   }
// }

// .custom-photo-upload:hover:before {
//   opacity: 1;
// }

// .image-upload {
//   width: 100%;
//   height: 100%;
// }

// .btn-container {
//   align-self: flex-end;
// }

// .btn-submit {
//   margin-right: 10px;
// }

// .btn.btn-reset {
//   background: #e8ddb5;
// }


// .field {
//   width: 660px;
//   min-height: 680px;
//   background: linear-gradient(160deg, #ddbf4f 0%, #d33a32 100%);
//   padding: 32px;
//   border-radius: 10px;
//   box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.65);
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   align-items: center;
//   margin: 0 0 3em;
//   z-index: 2;
//   pointer-events: none;
// }

// .card {
//   height: 125px;
//   width: 125px;
//   background: #2e3d49;
//   font-size: 0;
//   color: #ffffff;
//   border-radius: 8px;
//   cursor: pointer;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.65);
//   pointer-events: auto;
// }

// .card-image {
//   display: none;
//   width: 80px;
//   height: 80px;

//   img {
//     width: 100%;
//     height: 100%;
//   }
// }

// .card_open {
//   transform: rotateY(180deg);
//   transition: 0.3s;
//   background: #2f91f9;
//   cursor: default;
//   pointer-events: none;
// }

// .card_close {
//   transform: rotateY(360deg);
//   transition: 0.2s;
//   transform-style: preserve-3d;
//   background: #2e3d49;
// }

// .card_show {
//   .card-image {
//     display: block;
//   };
// }

// .card_match {
//   cursor: default;
//   background: #1bc45f;
//   font-size: 33px;
// }

// .cards-field {
//   display: flex;
//   flex-wrap: wrap;
//   align-items: center;
//   justify-content: space-between;
//   width: 80%;
// }

// .card-container {
//   display: flex;
//   flex: 1 0 22%;
//   align-items: center;
//   justify-content: center;
//   margin: 1%;
//   background-color: brown;
// }

// .card {
//   width: 300px;
//   height: 400px;

//   &__front {
//     width: 100%;
//     height: 100%;
//     background-color: goldenrod;
//   }
//   &__back {
//     display: none;
//     background-color: green;
//   }
// }
