@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@400;500;700;900&display=swap");

html {
  box-sizing: border-box;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  color: white;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  color: white;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #788aa3;
  width: 100%;
  height: calc(100vh - 70px);
}

.settings {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 30px 50px;
  background: linear-gradient(160deg, #92b6b1 0%, #788aa3 100%);
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.65);
}

.dropdown {
  margin: 0 auto 30px;
  &:last-child {
    margin-bottom: 0;
  }
}

.dropdown-header {
  margin-bottom: 20px;
}

.select {
	margin: 0 auto;
	color: #e8ddb5;
  font-size: 18px;
	width: 310px;
	padding: 15px;	
	cursor: pointer;
	background: #788aa3;
  border-radius: 3px;
  border: none;
  outline: none;
}

.option {
  display: block;
	background-color: #e8ddb5;
	color: white;
	width: 310px;
	padding: 10px 15px;
	height: 40px;
	cursor: pointer;
}
