@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@400;500;700;900&display=swap");

html {
  box-sizing: border-box;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  color: white;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  color: white;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #788aa3;
  width: 100%;
  height: calc(100vh - 70px);
}

// .score {
//   width: 660px;
//   min-height: 680px;
//   background: linear-gradient(160deg, #92b6b1 0%, #788aa3 100%);
//   margin: 0 auto;
//   padding: 50px;
//   border-radius: 10px;
//   box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.65);  
//   z-index: 2;
// }  

// .score-header {  
//   margin-bottom: 15px;
// }

// .table-wrapper {  
//   overflow-x: auto;
//   margin-top: 0px;  
// }

// .table {
//   width:100%;
//   table-layout: fixed;
// }

// td {
//   text-align: left;
//   vertical-align: middle;  
//   font-size: 12px;
//   color: #fff;
//   border-bottom: solid 1px rgba(255,255,255,0.1);
// }

// .user-name {
//   font-size: 16px;
//   padding: 15px 0 0;
//   border-bottom: none;
// }

// .user-email {
//   padding: 5px 0;
// }

// .user-score {
//   font-size: 18px;
//   text-align: right;
// }



