.btn {
  padding: 10px 15px;
  color: #333333;
  color: white;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #92b6b1;
  box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #b2c9ab;
}

.btn-disabled {
  opacity: .4;
  cursor: default;
  pointer-events: none;
}
