.field {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #92b6b1 0%, #788aa3 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.65);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
  z-index: 2;
  pointer-events: none;
}

.card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.65);
  pointer-events: auto;
}

.card-image {
  display: none;
  width: 80px;
  height: 80px;

  img {
    width: 100%;
    height: 100%;
  }
}

.card_open {
  transform: rotateY(180deg);
  transition: 0.3s;
  background: #e8ddb5;
  cursor: default;
  pointer-events: none;
}

.card_close {
  transform: rotateY(360deg);
  transition: 0.2s;
  transform-style: preserve-3d;
  background: #2e3d49;
}

.card_show {
  .card-image {
    display: block;
  };
}

.card_match {
  cursor: default;
  background: #1bc45f;
  font-size: 33px;
}